$white: #FFF;
$bg-red: #9E2140;
$bg-light-red: gba(158, 33, 64, 0.1);
$text-dark: #000000;
$text-light: rgba(0, 0, 0, 0.35);
$text-searh: rgba(0, 0, 0, 0.2);
$dashboard-bg-light: #D9D9D9;
$dashboard-bg: #F4F1EF;
$add-btn-bg:rgba(158, 33, 64, 0.1);
